@import '../../style/variables.scss';

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 16px;
  background-color: $textOnCardMainColor;

  @media (min-width: 940px) {
    padding: 32px;
  }
}

.title {
  margin-bottom: 24px;
  color: $textTitleColor;
  font-weight: 700;
  font-size: 32px;
  font-family: $primaryFont;
  line-height: 32px;
}

.subtitle {
  margin-bottom: 32px;
  color: $textSubtitleColor;
  font-weight: 400;
  font-size: 14px;
  font-family: $primaryFont;
  line-height: 100%;
  letter-spacing: 0.01em;
}

.filter {
  margin-bottom: 20px;
}
