@import '../../style/variables.scss';

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 16px;
  background-color: $textOnCardMainColor;

  @media (min-width: 940px) {
    padding: 32px;
  }
}

.title {
  margin-bottom: 24px;
  color: $textTitleColor;
  font-weight: 700;
  font-size: 32px;
  font-family: $primaryFont;
  line-height: 32px;
}

.subTitle {
  margin-bottom: 32px;
  color: $textSubtitleColor;
  font-weight: 400;
  font-size: 14px;
  font-family: $primaryFont;
  line-height: 100%;
  letter-spacing: 0.01em;
}

.filter {
  margin-bottom: 20px;
}

.cardsContainer {
  width: 100%;

  @media (min-width: 626px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 16px;
  }

  @media (min-width: 940px) {
    row-gap: 32px;
  }
}

.card {
  margin-bottom: 16px;

  @media (min-width: 626px) {
    width: 48.5%;
    margin-bottom: 0;
  }

  @media (min-width: 940px) {
    width: 32%;
  }

  @media (min-width: 1270px) {
    width: 24%;
    max-width: 288px;
  }
}
